.__debug__ {
    z-index: 1111111111;
    width: 0px;
    height: 20px;
    background: red;
    animation: __debug__animation 5s infinite linear;
}
body {
    /* background-color: red; */
}
